package templates

templ LoginPage(errorMessage string) {
	<!DOCTYPE html>
	<html lang="pt-BR">
		<head>
			<meta charset="utf-8"/>
			<script src="https://unpkg.com/htmx.org@2.0.7"></script>
			<title>Login - Finops</title>
		</head>
		<body>
			<h1>Login</h1>
			<div id="login-box">
				@LoginForm(errorMessage)
			</div>
		</body>
	</html>
}
